<!doctype html>
<head>
<header> <h2 style="color:blue;">Welcome to my NBA Page </h2> </header>
</head>
<html>
	<body>
        <form method="POST" action="/">
        <input type="submit" name="submit_button" value="Publish">
        <input type="submit" name="submit_button" value="Retrieve">
        <br><br><br>
        <input type="submit" name="submit_button" value="AddPhoto">
        <input type="submit" name="submit_button" value="DownloadPhoto">
        <input type="submit" name="submit_button" value="DisplayPhoto">
        <br><br><br>
        <input type="submit" name="submit_button" value="ListBucketContents">
        </form>
	</body>
</html>
